127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

172.10.1.236 ppstools.wkrainier.com aws-ppstools mailhost mail smtprelayptc.wkglobal.com

172.50.200.20 HAPPY-ag-1 agserver
172.50.20.13 HAPPY-app-1 application1 Other application
172.50.10.225 HAPPY-app-2 application2
172.50.200.39 HAPPY-db-1 db db1
172.50.200.54 HAPPY-fuse-1 fuse1 fuse cdc
172.50.200.164 HAPPY-import-1 import1 import
172.50.200.93 HAPPY-import-2 import2
172.50.200.209 HAPPY-nas-1 nas
172.50.200.251 HAPPY-pci2ga-1 pci pci2ga cdcreporter cdcreporter.com HAPPY--pci2ga-pci.localdoamin
172.50.200.25 HAPPY-solrcc-1 solr-dc solr-ds  equus equus-1 solr
172.50.20.135 HAPPY-spooler-1 spooler zeteo-edge-services
172.50.20.226 HAPPY-velvet-1 velvet
172.50.200.168 HAPPY-zookeeper-1 zookeeper solr-zk

